$white: #fff;

$gray100: #cdcdcd;
$gray200: #b9b9b9;
$gray300: #999999;
$gray400: #7a7a7a;
$gray500: #4e4e4e;

$primary100: #39aeff;
$primary200: #3b9bff;
$primary300: #2d7dff;
$primary400: #1954ff;
$primary500: #093fff;

$secondary100: #ff5f5a;
$secondary200: #ff5367;
$secondary300: #ff4767;
$secondary400: #ff3a74;
$secondary500: #ff2462;
