.icon {
  border-color: currentColor;
  margin-right: 0.2em;
  $width: 2.5em;
  width: $width;

  > img {
    width: $width;
  }

  &.xs {
    $width: 1.2em;
    width: $width;

    > img {
      width: $width;
    }
  }

  &.sm {
    $width: 1.8em;
    width: $width;

    > img {
      width: $width;
    }
  }

  &.md {
    $width: 3.6em;
    width: $width;

    > img {
      width: $width;
    }
  }

  &.lg {
    $width: 6em;
    width: $width;

    > img {
      width: $width;
    }
  }
}